### Bộ dữ liệu Online Retail chứa dữ liệu về giao dịch mua sắm online, các thông tin được thống kê bao gồm:

InvoiceNo: Số hóa đơn
StockCode: Mã kho
Description: Mô tả
Quantity: Số lượng
InvoiceDate: Ngày mua
UnitPrice: Giá
CustomerID: Mã khách hàng
Country: Quốc gia

### Yêu cầu

Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail.csv

Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail.xlsx

Trích xuất các bản ghi có số lượng từ 10 trở lên lưu vào file OnlineRetail.h5

Trích xuất dữ liệu các phần tử từ dòng 1000 đến dòng 2000, các cột Quantity, InvoiceDate, UnitPrice lưu vào file OnlineRetail.json

Trích xuất các bản ghi có số hóa đơn ‘536365’ lưu vào file OnlineRetail.html

In [1]:
# Nhập thư viện

import pandas as pd
import numpy as np

In [2]:
# ĐỌc dữ liệu
df = pd.read_csv('OnlineRetail.csv', encoding = "ISO-8859-1")

# xem 5 dòng đầu dữ liệu
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
# số dòng, số cột của dữ liệu

df.shape

(541909, 8)

In [4]:
# kiểu dữ liệu của các thuộc tính.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail.csv

In [5]:
df1 = df[['Description', 'Quantity']]
df1

                                Description  Quantity
0        WHITE HANGING HEART T-LIGHT HOLDER         6
1                       WHITE METAL LANTERN         6
2            CREAM CUPID HEARTS COAT HANGER         8
3       KNITTED UNION FLAG HOT WATER BOTTLE         6
4            RED WOOLLY HOTTIE WHITE HEART.         6
...                                     ...       ...
541904          PACK OF 20 SPACEBOY NAPKINS        12
541905         CHILDREN'S APRON DOLLY GIRL          6
541906        CHILDRENS CUTLERY DOLLY GIRL          4
541907      CHILDRENS CUTLERY CIRCUS PARADE         4
541908        BAKING SET 9 PIECE RETROSPOT          3

[541909 rows x 2 columns]

In [6]:
# xuất df1 vào file

df1.to_csv('OnlineRetail_1.csv')

### Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail.xlsx

In [7]:
df.head(1000)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
995,536520,22469,HEART OF WICKER SMALL,1,12/1/2010 12:43,1.65,14729.0,United Kingdom
996,536520,22100,SKULLS SQUARE TISSUE BOX,1,12/1/2010 12:43,1.25,14729.0,United Kingdom
997,536520,22096,PINK PAISLEY SQUARE TISSUE BOX,1,12/1/2010 12:43,1.25,14729.0,United Kingdom
998,536520,22583,PACK OF 6 HANDBAG GIFT BOXES,1,12/1/2010 12:43,2.55,14729.0,United Kingdom
999,536520,21358,TOAST ITS - HAPPY BIRTHDAY,2,12/1/2010 12:43,1.25,14729.0,United Kingdom

In [8]:
df.head(1000).to_excel('OnlineRetail_2.xlsx')